<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd">
<!--namespace就是与此文件对应的Dao接口的全路径-->
<mapper namespace="com.you.wstro.mapper.UserMapper">
    
    <!-- 实体类属性名和数据库表字段不一致时，通过 resultMap实现自定义映射-->
    <!-- 
       注意：1.无需将查询返回的所有column都进行显示声明，没有在resultMap中声明映射关系的column将进行自动映射
      2.resultMap中的column要与查询到的字段名一致，property要与实体类的属性一致
     -->
    <resultMap type="User" id="UserResultMap">
        <!-- 用id属性来映射主键字段 -->
        <id column="user_id" jdbcType="INTEGER" property="id"/>
        <!-- 用result属性来映射非主键字段 -->
        <result column="user_name" jdbcType="VARCHAR" property="name"/>
        <result column="user_age" jdbcType="INTEGER" property="age"/>
    </resultMap>

    <!-- 查询所有user信息 -->
    <select id="findAll" resultMap="UserResultMap">
        select * from user
    </select>
</mapper>